/*
  Josh's Custom CSS Reset (customized by jums)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  html, body {
    height: 100%;
    padding: 0;
  }
  body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
 
  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.main-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1.3fr 10fr;
}

.sidebar {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    background-color: #0ea5e9;
    gap: 3rem;
    padding: 1rem 0 0 16px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2.5rem 2rem;
    background-color: rgb(227, 225, 225);
}

.content-wrapper {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

.direct-content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-grow: 1;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.label {
    font-size: x-large;
    font-weight: 500;
}

.announcements {
    max-height: 310px;
}

.announcements-content-wrapper {
    display: grid;
    height: calc(100% - 2rem);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 1.5rem;
}

.announcements-content-title {
    font-size: medium;
    font-weight: 500;
}

.announcements-content {
    overflow: hidden;
    position: relative;
    background-color: white;
    padding: .2rem 0 0 .4rem;
    border-radius: 6px;
    box-shadow: 3px 4px 4px #e77f00;
}

.announcements-content-wrapper > .announcements-content:nth-child(1)::after, .announcements-content-wrapper > .announcements-content:nth-child(2)::after {
    content: 'hey';
    position: absolute;
    top: calc(100%);
    border: 1px solid gray;
} 

.announcements-content > p {
    height: 33%;
    text-overflow: ellipsis;
    font-size: small;
}

.search-bar-row {
    display: flex;
}

.search-bar-left {
    display: flex;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-left: 1.5rem;
}

.search-bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-right: 2rem;
}

.search-bar {
    width: 40vw;
    height: 30px;
    background-color: rgb(198, 198, 198);
    border-radius: 12px;
}

.profile-img-tr {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
}

.profile-name-tr {
    font-size: larger;
    font-weight: 500;
}

.profile-row {
    display: flex;
    box-shadow: 2px 2px 4px rgba(8, 47, 73, .5);
}

.profile-row-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    margin-right: auto;
    gap: 1rem;
}

.profile-row-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    gap: 1rem;
}

.profile-img-tl {
    width: 70px;
    height: 70px;
    background-color: orange;
    border-radius: 50%;
}

.profile-name-tl > div:nth-child(1) {
    font-weight: 500;
    font-size: small;
}

.profile-name-tl > div:nth-child(2) {
    font-weight: 500;
    font-size: large;
}

.profile-row-right > button {
    border: none;
    background-color: #0284c7;
    border-radius: 20px;
    color: #f0f9ff;
    font-weight: 500;
    padding: .4rem 1rem;
}

.dashboard-logo {
    display: flex;
    align-items: center;
    color: white;
}

.dashboard-logo > div {
    font-size: larger;
    font-weight: 500;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.sidebar li {
    font-size: large;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar li > img {
    width: 25px;
}

.direct-content-wrapper > .content img {
    width: 25px;
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: white;
    flex-grow: 1;
    border-radius: 16px 12px 12px 16px;
    border-left: 4px solid orange;
}

.main-content-links {
    display: flex;
    justify-content: end;
    gap: 12px;
}

.main-content-title {
    font-size: large;
    font-weight: 500;
}

.main-content-text {
    font-size: small;
    margin-bottom: auto;
}

.trending-row {
    display: flex;
    gap: 12px;
}

.trending-user-id {
    font-weight: 500;
}

.trending-statement {
    font-size: small;
}

.flex-trending-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0 6px 6px;

    background-color: white;
    border-radius: 6px;
}

.label-on-trending {
    padding-top: 1rem;
    margin-bottom: 24px;
}

.trending-row-img {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
}




/* .trending > *{
    border: 1px solid red;
} */




/* .main-container > * {
    border: 1px solid red;
}

.main-content > * {
    border: 1px solid blue;
}

.content-wrapper > * {
    border: 1px solid green;
}

.announcements-content-wrapper > * {
    border: 1px solid red;
}
.direct-content-wrapper > * {
    border: 1px solid green;
} */

